.custom_content
{
	padding:0px;
	margin:0px;
}

.container_1
{ 
	border:1px solid black;
	background-color:lightgray;
	width:100%;
	margin:0px;
	padding:0px;
}


.container_head
{
	width:100%;
	background-color:lightgreen;
	border-bottom:1px solid black;
	padding:0px;
	margin:0px;
	height:25px;
}

.my_dates
{
	float:left;
	padding:0px;
	margin:5px 0px 0px 5px;
	width:30%;
}

.my_place_titles
{
	float:left;
	padding:0px;
	margin:5px 0px 0px 0px;
	width:30%;
	text-align:center;
}

.my_edit_links
{
	float:right;
	padding:0px;
	margin:5px 5px 0px 0px;
	width:30%;
	text-align:right;
}

.place_address
{
	width:100%;
	padding:0px;
	margin:0px;
}

.place_address_p
{
	padding:0px;
	margin:5px 0px 0px 5px;
}

.my_times_button
{
	width:50%;
	float:left
}

.arrive_time_div
{
	float:left;
	width:50%;
}

.time_p
{
	margin:5px 0px 0px 5px;
}

.leave_time_div
{
	width:50%;
	float:right;
}

.locate_button_div
{
	width:50%;
	float:right;
}

.locate_button
{
	float:right;
}

/* specifically for be_somwhere_page */

.search_create_container
{
	background-color:lightgrey;
	border-bottom: 1px solid black;
}

.create_container
{
	float:left;
	width: 100%;
}

.create_container p
{
	margin-left: 5px;
	float:left;
}

.search_container
{
	float: right;
	width: 100%;
}

.search_field_container
{
	margin: 0px 0px 0px 10px;
	padding: 7px 15px 0px 0px;
	float:left;
	width: 65%;
}

.search_submit_div
{
	float:right;
}

.add_button
{
	float:right;
}

.be_somewhere_name
{
	font-size: 1.5em;
}

.plc_info_div
{
	width:50%;
	float: left;	
}

.be_somewhere_button_div
{
	width:50%;
	float: right;
}

/* end be_somwhere_page */

/* be_somewhere_form */

.create_form_div
{
	padding: 5px;
}

.be_form_submit
{
	float:right;
	margin-right: 15%;
}

/* end be_somewhere_form */



.clear_fix
{
	clear: both;
}












